/*header*/
header{
    height: 450px;
    background-size: auto 100%;
    background: url(./image/background.jpg) center center;
}

.title{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.2rem;
    text-align: center;
}

/*navigation*/
.gnav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gnav-item{
    padding: 0 30px;
}

ul{
    padding: 0;
}

ul, li{
    list-style: none;
}

/*icon*/
.account:before {
    font-family: 'Material Icons';
    content: "\e853";
}

.lightbulb:before {
    font-family: 'Material Icons';
    content: "\e90f";
}

.card:before {
    font-family: 'Material Icons';
    content: "\e8f8";
}

.mail:before {
    font-family: 'Material Icons';
    content: "\e158";
}

.hart:before {
    font-family: 'Material Icons';
    content: "\e87d";
}

.content{
    margin-top: 40px;
}

/*body*/
.section{
    padding: 60px;
}

.section-heading{
    text-align: center;
}


/*profile*/
.profile-image{
    width: 5rem;
    height: 5rem;
}

.two-column-wrapper{
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.two-column-left{
  width: 33%;
  text-align: center;
}

.two-column-right{
    width: 62%;
}