/*all*/

body{
    background-color: #0d1117;
    color : #c9d1d9;
    font-family: Arial;

    /*position*/
    margin: 4.25rem 0 0;
}

/*header*/
header{
    height: 200px;
    background-size: auto 100%;
    background: url(./image/background.jpg) center center;
}

.title{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25rem;
    text-align: center;
}

/*navigation*/
.gnav{
    font-family: 'Open sans', sans-serif;
    background-color: #161b22;

    /*position, 上に固定*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.gnav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gnav-item{
    padding: 0 30px;
}

.gnav > ul{
    padding: 0;
}

.gnav > ul, .gnav > li{
    list-style: none;
    font-size: 1.3em;
}

.gnav li a{
    margin-left: 12px;
    text-decoration: none;
}

.gnav li a:visited{
    color: #8b949e;
}

.gnav li a:hover{
    color: #c9d1d9;
    border-bottom-color: #6e7681;
}

/*icon*/
.account:before {
    font-family: 'Material Icons';
    content: "\e853";
}

.lightbulb:before {
    font-family: 'Material Icons';
    content: "\e90f";
}

.card:before {
    font-family: 'Material Icons';
    content: "\e8f8";
}

.mail:before {
    font-family: 'Material Icons';
    content: "\e158";
}

.hart:before {
    font-family: 'Material Icons';
    content: "\e87d";
}

/*body*/
.content{
    padding: 1.5rem;
    width: 70%;
    margin: 0 auto;
}

section{
    padding: 20px;
}

section a{
    color: #58a6ff;
}

h2:after{
    display: table;
    width: 100%;
    content: " ";
    margin-top: -1px;
    border-bottom: 1px dashed;
}

.section-heading-text{
    margin-left: 12px;
}

.section-content{
    width: 95%;  
    margin: 0 auto;
}

/*profile*/
.profile-image{
    width: 5rem;
    height: 5rem;
}

.two-column-wrapper{
    display: flex;
}

.two-column-left{
  width: 20%;
  text-align: center;
}

.two-column-right{
    width: 62%;
}
